
<div class="container"> 

  <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<% if @user .errors.any? %>
  <%= @user .errors.count %>errors occurred
  <ul>
    <% @user .errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<h2>User info</h2>
<table class="table table-striped">
  <%= form_with model: @user do |f| %>
  <thead></thead>
　<tbody>
　
　
　<ul>
　  <li><label for="inputName">Name</label></li>
    <p><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></p>
    
    <li><label for="inputImage">Image</label></li>
    <p><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></p>
    
    <li><label for="inputIntroduction">Introduction</label></li>
    <p><%= f.text_field :introduction, autofocus: true, id:"inputIntroduction"%></p>
    
    <li><%= f.submit "Update User" %></li>
  <% end %>
  <ul>
  </tbody>
  </table>
  
<strong style="display:block;">

</div>
</div>