<div class="container"> 

<div class="row">  
<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<ul>
 <li><h1>Editing Book</h1>
<% if @Book.errors.any? %>
  <%= @Book.errors.count %>errors occurred
  <ul>
    <% @Book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
 </li>

<%= form_with model: @Book do |f| %>
<li><table class="table table-striped">
<h4>Title</h4>
<%= f.text_field :title %>
  
<h4>Opinion</h4>
<%= f.text_area :body %>
  
<br><%= f.submit 'Update Book' %>
  
<% end %>
</table>
</li>


<li><%= link_to "Show", book_path(@Book.id) %>
<%= link_to "Back", books_path %>
</li>

</ul>

</div>
</div>
</div>