
<div class="container"> 

  <div class="row">  

    <div class="col-md-3">
    	
    <h2>User info</h2>
     <table class="table table-striped">
	    <%= image_tag @user.get_profile_image(100,100) %>
	     <tr>
    　   <th>name<%= @user.name %></th>
    　 </tr>
    　 <tr>
        <th>introduction<%= @user.introduction %></th>
       </tr>
     </table>
 
     <%= link_to "user_edit", edit_user_path(@user.id) %>

    <h2>New book</h2>
     <% if @book.errors.any? %>
     <%= @book.errors.count %>errors occurred
      <ul>
      <% @book.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
      </ul>
    <% end %>

    <%= form_with model:@book do |f| %>
    <h4>title</h4>
     <%=f.text_field:title %>
    <h4>body</h4>
     <%=f.text_area:body %>

    <br><%=f.submit 'Create Book'%>

    <% end %>
  </div>


<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table table-striped">
   <thead></thead>
	<tbody>
		<tr>
			<td><%= link_to image_tag(@user.get_profile_image(100,100)), user_path(current_user) %>
			<br><%= link_to @user.name, user_path(current_user) %></td>
			<td><%= link_to @Book.title, book_path %></td>
			<td><%= @Book.body %></td>
			<% if @user== current_user %>
       <td><%= link_to "edit", edit_book_path(@Book.id) %></td>
       <% end %>
			 <% if @user== current_user %>
       <td><%= link_to "Destroy", book_path(@Book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
       <% end %>
		</tr>
	</tbody>
</table>
</div>

  </div>
 </div>
